{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
    {% endif %}
    <div class="container">
        <form class="login" action='.' method='post'>
            {% csrf_token %}
            <label for="username">Логин:</label>
            <input class="form-control" type="text" name="username" value="" id="username">
            <label for="password">Пароль:</label>
            <input class="form-control" type="password" name="password" value="" id="password">

            <input class="btn btn-success" type="submit" value="login"/>
            <input type="hidden" name="next" value="{{ next|escape }}"/>
        </form>
    </div>
{% endblock %}