 {% extends 'base.html' %}

    {% block content %}
        {% if id %}
        <h1 class="title">New Article</h1>
        {% else %}
        <h1 class="title">Edit Article</h1>
        {% endif %}

        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
            <button formnovalidate type="button" class="btn btn-danger" href="{% url 'home' %}">Cancel</button>
        </form>

    {% endblock %}