{% extends 'base.html' %}
{% block content %}
    <div class="article-view">
        <h1 class="container title ">{{ article.title }}</h1>
        <div class="container text">
            {{ article.text }}
        </div>
        {% if user.is_authenticated %}
            {% if article.edits %}
                <div class="container comment">
                    Comments:{{ article.edits }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}