{% extends 'base.html' %}

{% block content %}
    {% for article in article_list %}
            <div class="article">
                <a class="article-link" href="{% url 'article' article.id %}">
                    <div class="content">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.text|slice:"0:50" }}...</p>
                    </div>
                </a>
            </div>
    {% endfor %}
{% endblock %}