{% load staticfiles my_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MADTEST</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<nav class="navbar navbar-inverse ">
    <a class="navbar-brand " href="{% url 'home' %}">
        <img class="" src="{% static 'img/logonav.jpeg' %}" width="30" height="30"/>
        <div class="nb">MADNEWS</div>
    </a>

    {% if  perms.auth.writer %}
        <a class="btn btn-danger login glyphicon glyphicon-user" href="{% url 'logout' %}"> {{ user.username }}</a>
        <div class="navi">
            <div class="navbar-nav">
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='writed' %}">Current</a>
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='rejected' %}">Rejected</a>
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='corrected' %}">Accepted</a>
            </div>
        </div>

    {% elif perms.auth.corrector %}
        <a class="btn btn-danger login glyphicon glyphicon-user" href="{% url 'logout' %}"> {{ user.username }}</a>
        <div class="navi">
            <div class="navbar-nav">
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='writed' %}">Current</a>
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='rejected' %}">Rejected</a>
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='corrected' %}">Corrected</a>
            </div>
        </div>

    {% elif perms.auth.editor %}
        <a class="btn btn-danger login glyphicon glyphicon-user" href="{% url 'logout' %}"> {{ user.username }}</a>
        <div class="navi">
            <div class="navbar-nav">
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='corrected' %}">Current</a>
                <a class="btn btn-default navitem" href="{% url 'extended-home' category='published' %}">Published</a>
            </div>
        </div>

    {% else %}
        <a class="btn btn-primary login glyphicon glyphicon-user" href="{% url 'login' %}">{{ user.username }}</a>
    {% endif %}
</nav>

<nav class="actionbar bg-faded">
    {% block action_bar %}
        <a class="btn btn-success" href="{% url 'home' %}">Home</a>
        {% if perms.auth.writer %}
            <a class="btn btn-success glyphicon glyphicon-plus right" href="{% url 'add_article' %}"></a>
        {% endif %}

    {% endblock %}
</nav>

{% if messages %}
    <ul class="messages text-success">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>