{% extends 'base.html' %}
{% load my_filters %}
{% block content %}
    <div class="list-group"></div>
    {% if perms.auth.writer %}
        {% for article in articles %}

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                {% if not article.is_corrected %}
                    <a class="btn btn-small btn-danger right glyphicon glyphicon-remove"
                       href="{% url 'article_delete' article.id %}"></a>
                    <a class="btn  btn-small btn-default  right glyphicon glyphicon-pencil"
                       href="{% url 'article_edit' article.id %}"></a>
                {% endif %}
                <a class="article-link " href="{% url 'article' article.id %}">
                    <div class="content">
                        <h3 class="title">{{ article.title }}</h3>
                        <p>{{ article.text|slice:"0:50" }}...</p>
                        {% if article.edits %}
                            <div>Comments:{{ article.edits }}</div>
                        {% endif %}
                        <h6>Date: {{ article.pub_date }}</h6>
                        <h6>Status: {{ article.status }}</h6>
                    </div>
                </a>
            </div>
        {% endfor %}

    {% elif perms.auth.corrector %}
        {% for article in articles %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <a class="btn  btn-small btn-default  right glyphicon glyphicon-pencil"
                   href="{% url 'extended_article_edit' article.id  2 %}"></a>
                <a class="btn btn-small btn-danger right " href="{% url 'article_reject' article.id %}">Reject</a>
                <a class="btn  btn-small btn-success  right" href="{% url 'article_accept' article.id %}">Accept</a>
                <a class="article-link " href="{% url 'article' article.id %}">
                    <div class="content">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.text|slice:"0:50" }}...</p>
                        {% if article.edits %}
                            <div>Comments:{{ article.edits }}</div>
                        {% endif %}
                        <h6>Date:{{ article.pub_date }}</h6>
                        <h6>Status: {{ article.status }}</h6>
                    </div>
                </a>
            </div>
        {% endfor %}

    {% elif perms.auth.editor %}
        {% for article in articles %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                 <a class="btn  btn-small btn-default glyphicon glyphicon-pencil right"
                           href="{% url 'extended_article_edit' article.id  2 %}"></a>
                        <a class="btn  btn-small btn-success right"
                           href="{% url 'article_publish' article.id %}">Publish</a>
                        <a class="btn btn-small btn-danger right"
                           href="{% url 'article_reject' article.id %}">Reject</a>
                <a class="article-link" href="{% url 'article' article.id %}">
                    <div class="content">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.text|slice:"0:50" }}...</p>
                        {% if article.edits %}
                            <div>Comments:{{ article.edits }}</div>
                        {% endif %}
                        <h6>Status: {{ article.status }}</h6>
                    </div>
                </a>
            </div>
        {% endfor %}

    {% else %}
        {% for article in articles %}
            {% if article.is_published %}
                <div class=" list-group-item list-group-item-action flex-column align-items-start">
                    <a class="article-link" href="{% url 'article' article.id %}">
                        <div class="content">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.text|slice:"0:50" }}...</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}
    </div>
{% endblock %}
