@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');

a{
    text-decoration-style: none;
}
.article {
    width: 20%;
    height: 20%;
    background-color: #d8d8d8;
    box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.5);
    color: black;
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;

}


.article p {
    /*width: 50%;*/
}

.article:hover {
    transition-duration: 500ms;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.5);
}

.login {
    margin: 10px;
    float: right;
}

.article-link {
    color: black;
}

.article-link:hover {
    text-decoration: none;
}

.listed {
    width: 80%;

}

.article-view {
    margin: 20px;
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

.actionbar {
    padding: 5px;
    background-color: #999999;
}

.error {
    background-color: #b94a48;
}

.right {
    float: right;
    margin: 0px 5px;
}

.title {
    font-family: 'Pacifico', cursive;
}

.navi {
    margin: 10px;
    position: relative;
    left: 50vh;
}

.nb {
    display: inline;
}
.comment{
    margin-top: 40px;
    border: 2px solid #0e0e0e;
    border-radius: 5px;
}
.text{
    margin-top: 60px;
}
.list-group-item-action:hover{
    background: ghostwhite;
}